@import url(http://reset5.googlecode.com/hg/reset.min.css);

ul {
    list-style-type: none;
}

li span{
    position: relative;
    top: -2em;
}

li button {
    width: 5em;
    float: right;
    /*
    height: 2em;
    vertical-align: middle;
    */
}